version: '3'
services:
  postgis:
    build: . 
    container_name: geoslurpv1_1_0
    restart: unless-stopped
    volumes:
      - "${PG_DATA}:/var/lib/postgresql/data"
      - "${GEOSLURP_DATAROOT}:/geoslurp_data"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=geoslurp
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - GEOSLURP_USER=${GEOSLURP_USER}
      - GEOSLURP_UPASSWD=${GEOSLURP_UPASSWD}
      - GEOSLURP_ROUSER=${GEOSLURP_ROUSER}
      - GEOSLURP_ROUPASSWD=${GEOSLURP_ROUPASSWD}
      - GEOSLURP_DATAROOT=${GEOSLURP_DATAROOT}
      - GEOSLURP_SETTINGS=/etc/geoslurp/.geoslurp_lastused.yaml
    user: "${GEOSLURP_UID}:${GEOSLURP_UID}" 
    ports:
      - "5432:5432"
    expose:
      - "5432"

